<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SSR - Simple Student Response</title>
		<!-- Load 3rd party CSS here -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		
		<!-- Load home grown CSS here -->
		<link rel="stylesheet" href="css/debug.css" type="text/css">
		<link rel="stylesheet" href="css/common.css" type="text/css">
		<link rel="stylesheet" href="css/home.css" type="text/css">
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="/">
	</head>
	<body ng-app="appSSR" ng-controller="NavigationController">
		<header class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<a class="navbar-brand" href="#">Simple Student Response</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<div class="navbar-nav mr-auto mt-2 mt-lg-0">
					<a class="nav-item nav-link active" href="/" ng-bind="activeUser && activeUser.username ? activeUser.username : 'Guest'">Guest</a>
					<a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
					<a class="nav-link" href="#">Link</a>
					<a class="nav-link disabled" href="#">Disabled</a>
				</div>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search">
					<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</header>
		<div style="height: 70px;"></div>
		<!-- role="main" for compatibility issue with IE 11 and earlier-->
		<main role="main">
			<div class="container panel">
				<div class="ng-view"></div>
				<!--
				<section name="primaryPanel" class="border-red ">
					primary
					<div name="questionCreationHolder">
					</div>
				</section>
				<section name="secondaryPanel" class="border-orange">
					secondary
					<div name="questionListHolder">
						<ul>
						</ul>
					</div>
				</section
				-->
			</div>
			<!--
			<div>
				<input id="data" type="text">
				<input id="send" type="button" value="Send">
				<div id="output"></div>
				<img id="qr" src="">
			</div>
			-->

			<!-- Modal -->
			<div class="modal fade" id="modalQuestionIdSearch" tabindex="-1" ng-controller="QuestionSearchModalController">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalQuestionIdSearchLabel">Find a question via ID</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="questionId">Question ID</label>
									<input name="questionId" class="form-control" type="text" ng-model="questionId" placeholder="Enter an id to find a question">
								</div>
							</form>
							<div class="text-center">
								<div>Tap camera to scan QR code</div>
								<video id="videoForQRScan" poster="res/qrScanPlaceholder.svg" style="max-width: 100%; width: 256px;" ng-click="onStartQRScan()"></video>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="onGotoStatistic(questionId)">Monitor question</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="onGotoQuestion(questionId)">Answer question</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Modal -->
			<div class="modal fade" id="modalQuestionShare" tabindex="-1">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalQuestionShareLabel">Share the way you want</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<ssr-share-link global link="modal.questionShare.link"></ssr-share-link>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Modal -->
			<div class="modal fade" id="modalQuestionDisplay" tabindex="-1">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalQuestionDisplayLabel" >Question as seen by student</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<ssr-question question="modal.questionDisplay.question"></ssr-question>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Modal -->
			<div class="modal fade" id="modalQuestionStatistic" tabindex="-1">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalQuestionStatisticLabel" >Question statistic</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<ssr-statistic global data-response-counts="modal.questionStatistic.responseCounts"></ssr-statistic>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
	<!-- Load external library here -->
	<!-- Essentials -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
	<!-- Utilities -->
	<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.src.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="js/libs/instascan.min.js"></script>
	<!-- Load home-grown javascript file here -->
	<script src="js/errors.js"></script>
	<script src="js/common.js"></script>
	<script src="js/webrtc_demo.js"></script>
	
	<!-- Models, which is not dependent on Angular JS -->
	<script src="js/ICRUD.js"></script>
	<script src="js/models/user.js"></script>
	<script src="js/models/question.js"></script>
	<script src="js/models/response.js"></script>
	
	<!-- Local Angular JS related javascript files -->
	<script src="js/init_app.js"></script>
	<script src="js/services/SSEService.js"></script>
	<script src="js/services/ModalDataService.js"></script>
	
	<script src="js/directives/directiveQuestion.js"></script>
	<script src="js/directives/directiveStatistic.js"></script>
	<script src="js/directives/directiveShare.js"></script>
	
	<script src="js/controllers/HomePageController.js"></script>
	<script src="js/controllers/LoginController.js"></script>
	<script src="js/controllers/NavigationController.js"></script>
	<script src="js/controllers/QuestionComposerController.js"></script>
	<script src="js/controllers/QuestionDisplayController.js"></script>
	<script src="js/controllers/QuestionEditorController.js"></script>
	<script src="js/controllers/QuestionListController.js"></script>
	<script src="js/controllers/QuestionSearchModalController.js"></script>
	<script src="js/controllers/RegisterController.js"></script>
	<script src="js/controllers/UserPanelController.js"></script>
	<script src="js/controllers/StatisticController.js"></script>
	
	<script>
		console.log("Hello world");
	</script>
</html>