Home page placeholder

<div ng-controller="HomePageController">
	What would you like to do?
	<button type="button" class="btn btn-primary" ng-click="onGotoLogin()">Login as a user</button>
	<button type="button" class="btn btn-primary" ng-click="onGotoRegister()">Register an account</button>
	<button type="button" class="btn btn-primary" ng-click="onGotoQuestions()">View your questions</button>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalQuestionIdSerach">
		Find a question
	</button>
	<button type="button" class="btn btn-primary" ng-click="onGotoComposer()">Compose a question</button>
</div>