Home page placeholder

<div ng-controller="HomePageController" ng-init="
	options.test = 1
">
	What would you like to do?
	<button type="button" class="btn btn-primary" ng-click="onGotoLogin()">Login as a user</button>
	<button type="button" class="btn btn-primary" ng-click="onGotoRegister()">Register an account</button>
	<button type="button" class="btn btn-primary" ng-click="onGotoQuestions()">View your questions</button>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalQuestionIdSearch">
		Find a question
	</button>
	<button type="button" class="btn btn-primary" ng-click="onGotoComposer()">Compose a question</button>

	
	<div class="card border-warning mx-auto" style="max-width: 640px;">
		<div class="card-header bg-warning text-center">
			<h5>SSR development plan (TODO list)</h5>
		</div>
		<div class="card-body">
			<ul class="list-group">
				<li>
					Add display for issues preventing submission to question response page
				</li>
				<li class="list-group-item">
					Add display for issues preventing submission to question editor
				</li>
				<li class="list-group-item">
					Add global data storage for global modals, so they can get data via their id without knowing how data is provided, √
				</li>
				<li class="list-group-item">
					Create a statistic display modal using angularJS directive; for question list, √
				</li>
				<li class="list-group-item">
					Add QR code reader to read generated QR code that points to a question, √
				</li>
				<li class="list-group-item">
					Make questions shareable via QR codes (link encoded as QR code), √
				</li>
				<li class="list-group-item">
					Make user's question list fully functional
				</li>
				<li class="list-group-item">
					Create a static question display modal using angularJS directive; for question list, √
				</li>
			</ul>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 2018-11-21 15:49</small>
		</div>
	</div>
</div>