<div ng-controller="HomePageController">
	<div class="card">
		<div class="card-header">Let's get started, with one of the following:</div>
		<div class="card-body">
			<!--
			<button type="button" class="btn btn-primary" ng-click="onGotoLogin()">Login as a user</button>
			<button type="button" class="btn btn-primary" ng-click="onGotoRegister()">Register an account</button>
			<button type="button" class="btn btn-primary" ng-click="onGotoQuestions()">View your questions</button>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalQuestionIdSearch">
				Find a question
			</button>
			<button type="button" class="btn btn-primary" ng-click="onGotoComposer()">Compose a question</button>
			-->

			<div name="home-nav-box" class="card-columns text-center">
				<div class="card" ng-click="onGotoLogin()">
					<img src="res/icon_login.bmp">
					<div class="card-body text-center">
						<h5 class="card-title">Login as a user</h5>
					</div>
				</div>
				<div class="card" ng-click="onGotoRegister()">
					<img src="res/icon_register.bmp">
					<div class="card-body text-center">
						<h5 class="card-title">Register an account</h5>
					</div>
				</div>
				<div class="card" ng-click="onGotoQuestions()">
					<img src="res/icon_questionList.bmp">
					<div class="card-body text-center">
						<h5 class="card-title">View your questions</h5>
					</div>
				</div>
				<div class="card" data-toggle="modal" data-target="#modalQuestionIdSearch">
					<img src="res/icon_questionSearch.bmp">
					<div class="card-body text-center">
						<h5 class="card-title">Find a question</h5>
					</div>
				</div>
				<div class="card" ng-click="onGotoComposer()">
					<img src="res/icon_questionEditor.bmp">
					<div class="card-body text-center">
						<h5 class="card-title">Compose a question</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="card border-warning mx-auto" style="max-width: 640px;">
		<div class="card-header bg-warning text-center">
			<h5>SSR development plan (TODO list)</h5>
		</div>
		<div class="card-body">
			<ul class="list-group">
				<li class="list-group-item">
					New homepage design does not look sufficiently awesome, add more awesomeness.
				</li>
				<li class="list-group-item">
					Convert BMP icons to SVG
				</li>
				<li class="list-group-item">
					Enhance security by sanitizing inputs from question editor
				</li>
				<li class="list-group-item">
					Create a question composer selection page, right now it is just a dummy with a single button
				</li>
				<li class="list-group-item">
					On question composer selection page, direct user to Multiple Choice Question editor automatically;
					since that is the only type of question currently available, no need for an extra button click, √
				</li>
				<li class="list-group-item">
					Create icons for homepage: Login, register, questions, search for question, compose question, √
				</li>
				<li class="list-group-item">
					Create issues display directive; currently some invalid input messages are displayed using hidden input
					to take advantage of bootstrap 4's form validation style, those codes are reusable.
				</li>
				<li class="list-group-item">
					Perform profilling, there are memory leaks
				</li>
				<li class="list-group-item">
					Actually implements Statistic.js
				</li>
				<li class="list-group-item">
					Design a new homepage that looks awesome, √
				</li>
				<li class="list-group-item">
					Convert StatisticController to using ResponseStore to retrieve responses
				</li>
				<li class="list-group-item">
					Add display for issues preventing submission to question response page, √
				</li>
				<li class="list-group-item">
					Add display for issues preventing submission to question editor, √
				</li>
				<li class="list-group-item">
					Add global data storage for global modals, so they can get data via their id without knowing how data is provided, √
				</li>
				<li class="list-group-item">
					Create a statistic display modal using angularJS directive; for question list, √
				</li>
				<li class="list-group-item">
					Add QR code reader to read generated QR code that points to a question, √
				</li>
				<li class="list-group-item">
					Make questions shareable via QR codes (link encoded as QR code), √
				</li>
				<li class="list-group-item">
					Make user's question list fully functional
				</li>
				<li class="list-group-item">
					Create a static question display modal using angularJS directive; for question list, √
				</li>
			</ul>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 2018-11-22 23:15</small>
		</div>
	</div>
</div>